@import url("https://fonts.googleapis.com/css?family=Muli:300,400,900&display=swap");

html {
  font-size: 16px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Muli, sans-serif;
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.8;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 0 auto;
  padding: 24px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}